/* 2A0031 dark purple
5F2456 purple
985B6A dull pink
CF918B pinkish
FFFAE5 baige 
120016 */

*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: Courier;
	background:#120016;
	color: #f2f2f2;

}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: #FFFAE5;
	color: white; 
	padding-top: 20px;
	padding-bottom: 30px;
}
/* Nav bar stuff */
nav{
	width: 100%;
	height: 100px;
	background-color: black;
	overflow:auto;
}
ul { 
padding:0;
margin: 0 0 0 350px;
list-style:none; 
}
li{
	float:left;
}
.logo img{
	position:absolute;
	margin-top:10px;
	margin-left:25px;
	
}

nav a, nav h3{
	
	width:100 px;
	font-size: 32px;
	display:block;
	font-family: Courier;
	text-decoration: none;
	color: #f2f2f2;
	float:right;
	padding:30px 30px;
	padding-left:20;
}

nav a:hover{
	
	background: gray;
	transition: 0.5s;
	text-transform:uppercase;
}

/* Text */

h1{
	color: Black;
	font-weight: bold;
	font-size: 40px;
	font-family: Courier;
	text-align: center;
}
p {

	font-weight: bold;
	font-size: 15px;
	font-family: Courier;
  padding: 14 px 15px;
  margin: 15px;
}

h2{
	color: black;
	font-weight: bold;
	font-size: 20px;
	font-family: Courier;
}
b{
	font-size: 15px;
	font-family: Courier;
}
h3{
	color: white;
	font-size: 20px;
	font-family: Courier;
}
h4 {

	font-size: 15px;
	font-family: Courier;
	font-weight: bold;
}
h5 {
	color: black;
	font-size: 20px;
	font-family: Courier;
	font-weight: bold;

}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
.line{
	background:#985B6A;
		padding-top: 2px;
	padding-bottom: 3px;
}